.message-input {
	bottom: 0px;
	width: 95%;
	margin: 6px;
	vertical-align: bottom;
}

input {
	width: 95%;
}

.messages-container {
	height: 80%;
}

.input-container {
	position: fixed;
	width: 1200px;
	background-color: lightblue;
}